.center {
    width: 70vw;
    display: flex;
    margin: 50px auto 50px auto;
    text-align: center;
    .left {
        display: flex;
        margin-right: auto;
    }
    .table {
        thead {
            color: #f1f3f2;
            background-color: #585a56;
        }
        tbody {
            tr:nth-child(2n+1) {
                background-color: #81a3a7;
                color: white;
            }
            tr:nth-child(2n) {
                color: white;
                background-color: #c2d3da;
            }
        }
    }
}

.justify {
    justify-content: center;
    div {
        img {
            cursor: pointer;
        }
    }
}