<div class="parent-cms">
    <div class="container parentflex">
        <div class="formulario ">
            <form>
                <img src="/assets/Logo-SmartQuick-Blanco.png" alt="">
                <div class="form-group">
                    <label for="name">Usuario</label>
                    <input name="user" type="user" class="form-control" id="name" placeholder="" [(ngModel)]="usuario">
                    <p *ngIf="required">Verifica he intenta nuevamente</p>
                </div>
                <div class="form-group">
                    <label for="pass">Contraseña</label>
                    <input name="usuario" type="password" class="form-control" id="pass" placeholder=" " [(ngModel)]="clave">
                    <p *ngIf="required">Verifica he intenta nuevamente</p>
                </div>
                <button (click)="login()" type="submit" class="btn btn-light  col-12">Inicia Sesion</button>
            </form>
        </div>
    </div>
</div>