<div class="center">
    <div class="content">
        <h1>Resultado total de medallas</h1>
        <div class="medallas">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <img src="/assets/oro.png" alt="">
                        </th>
                        <th>
                            <img src="/assets/plata.png" alt="">
                        </th>
                        <th>
                            <img src="/assets/bronce.png" alt="">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{oro}}</td>
                        <td>{{plata}}</td>
                        <td>{{bronce}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>